.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--black);
  border: 1px solid var(--gray);
  border-radius: 1rem;
  margin: auto;
  width: 98%;
  height: 5vh;
  align-items: center;
}

.text-score {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
}

.score-number {
  color: var(--forward);
  margin-left: 0.2rem;
  font-weight: 900;
}

.record-easy {
  color: var(--easy);
}
.record-medium {
  color: var(--medium);
}
.record-hard {
  color: var(--hard);
}
