.game-over-container {
  height: 88vh;
  background-color: var(--dark-white);
  padding: 1rem 0;
}

.game-over-info-container {
  width: 95%;
  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: 1rem;
  margin: 0 auto;
}

.game-over-text {
  font-weight: bold;
  text-align: center;
  margin: 0.1rem auto;
}

.header-text {
  font-size: 2rem;
}

.summary {
  font-size: 1.4rem;
}
