/* game section */
.game-container {
  background-color: var(--dark-white);
  height: 88vh;
}

/* Score label zajmuje 5vh */
.scoreboard-container {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* higher/lower button section */
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 8vh;
}

/* players starts section */
.players-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 64vh;
}
