.player-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  width: 95%;
  border: 2px solid var(--gray);
  border-radius: 10px;
  position: relative;
  height: 30vh;
}

.player-name {
  font-size: 1.7rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.2rem 0.5rem;
}
