.player-age {
  width: 3rem;
  height: 2.5rem;
  border: 2px solid var(--gray);
  background-color: var(--white);
  border-radius: 40%;
  position: absolute;
  bottom: 2.2rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
}
