button {
  background-color: var(--light-blue);
  color: var(--white);
  border: 2px solid var(--gray);
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1rem auto;
  display: flex;
}
