.header {
  background-color: var(--blue);
  border-bottom: 2px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
}

.logo {
  max-height: 100%;
  background-color: var(--white);
  border-radius: 20%;
}
