.player-value-container {
  display: flex;
  flex-direction: row;
  align-items: left;
  position: absolute;
  bottom: 0.1rem;
}

.market-value {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 500;
}

.player-value {
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 700;
}
