.player-value-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0.1rem;
  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: 0.5rem;
  padding: 0.1rem 0.3rem;
  margin: 0 auto;
}

.market-value {
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 500;
}

.player-value {
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 700;
}

.normal1,
.gray1,
.green1,
.red1 {
  background-color: transparent;
}

.normal1,
.gray1 {
  color: var(--black);
}

.green1 {
  color: var(--green);
}

.red1,
.game-over-player1 {
  color: var(--red);
}
