.player-value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
}

.market-value {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 500;
}

.player-value {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 700;
}
