.heart {
  position: relative;
  width: 30px;
  height: 27px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 0;
  width: 15.6px;
  height: 24px;
  border-radius: 50px 50px 0 0;
  background: red;
}

.heart::before {
  left: 15px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.opacity {
  opacity: 50%;
}
