* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font */
  font-family: "Gill Sans", sans-serif;

  /* theme colors */
  --black: rgb(26, 17, 16);
  --white: rgb(248, 248, 255);
  --dark-white: rgb(225, 217, 209);
  --blue: rgb(39, 68, 114);

  /* Higher Lower colors */
  --red: rgb(231, 110, 110);
  --green: rgb(136, 230, 125);

  /* Borders colors */
  --gray: rgb(82, 82, 82);

  /* Buttons colors */
  --light-blue: rgb(151, 221, 247);
  --easy: rgb(139, 225, 139);
  --medium: rgb(255, 228, 109);
  --hard: rgb(228, 102, 102);

  /* Position colors */
  --goalkeeper: rgb(198, 96, 88);
  --defender: rgb(254, 220, 86);
  --midfield: rgb(110, 205, 148);
  --forward: rgb(30, 144, 255);
}
