* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font */
  font-family: "Gill Sans", sans-serif;

  /* theme colors */
  --black: rgb(26, 17, 16);
  --white: rgb(248, 248, 255);
  --dark-white: rgb(225, 217, 209);
  --blue: rgb(39, 68, 114);

  /* Higher Lower colors */
  --red: rgb(233, 125, 125);
  --green: rgb(164, 236, 156);

  /* Borders colors */
  --gray: rgb(112, 112, 112);

  /* Buttons colors */
  --light-blue: rgb(158, 201, 217);
  --easy: rgb(139, 225, 182);
  --medium: rgb(217, 199, 158);
  --hard: rgb(212, 152, 147);

  /* Position colors */
  --goalkeeper: rgb(198, 96, 88);
  --defender: rgb(254, 220, 86);
  --midfield: rgb(110, 205, 148);
  --forward: rgb(30, 144, 255);
}
